/**arabic stylesheet**/
/*--------------------------------------------------------------# General--------------------------------------------------------------*/
body {
  direction: rtl;
  font-family: 'Cairo', sans-serif !important;
  color: #444444;
}

a {
  color: #2660C0;
}

a:hover {
  color: #2660C0;
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cairo', sans-serif !important;
  font-weight: 400;
}

.mobile-nav-active .mobile-nav-toggle i {}

.cartbox {
  padding-top: 10px;
}

.prl {
  padding-right: 10px;
}

.pasword-hideshow {
  font-size: 14px;
  position: absolute;
  left: 15px;
  top: 12px;
}

.pasword-hideshow:hover,
.pasword-hideshow:focus {
  color: #dd5709
}

.pasword-hideshowLogin {
  font-size: 14px;
  position: absolute;
  left: 15px;
  top: 43px;
}

.pasword-hideshowLogin:hover,
.pasword-hideshowLogin:focus {
  color: #dd5709
}

.inputWithIcon input [type="password"] {
  padding-right: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0px;
  top: 3px;
  padding: 9px 12px;
}


.cart-topbtn {
  padding-right: 15px;
  padding-left: 0;
}

.cartamount {
  margin-left: 0;
  margin-right: 15px;
}

.callnumber {
  text-align: right;
}

.callUs .callicon {
  margin-right: 0px;
  margin-left: 10px;
}

.searproduct {
  margin-left: 0;
  margin-right: 15px;
}

#hero .carousel-content {
  text-align: right;
}

.nav-menu>ul>li {
  float: right !important;
}

.nav-menu .drop-down ul li a {
  text-align: right;
}

.category_slider .owl-nav {
  left: 10px;
  right: auto !important;
  direction: ltr;
}

.section-title {
  text-align: right;
}

.back-to-top {
  left: 15px;
  right: inherit;
}

.counter-addon {
  left: -10px;
  right: inherit;
}

.brandcamp {
  display: flex;
}

.brandcamp a {
  margin-left: 4px;
}

.about .content {
  text-align: right;
}

.contactItem .iconTit {
  margin-right: 0 !important;
  margin-left: 15px;
}

.contactDetails {
  text-align: right;
}

.tableCart .table tr th,
.tableCart .table tr td {
  text-align: right;
}

.tableCart .table tr th.text-right,
.tableCart .table tr td.text-right {
  text-align: left !important;
}

.addressContent {
  text-align: right;
}

.addressContent .EditeBtn.ml-auto {
  margin-right: auto;
  margin-left: inherit !important;
}

.saved-card .debitcarditem {
  padding-right: 20px;
  padding-left: 0;
}

.saved-card .cardimg {
  margin-left: 15px;
  margin-right: 0;
}

.saved-card .entercv {
  margin-right: 15px;
}

.addressContent .controlgroup {
  padding-right: 20px;
  padding-left: 0 !important;
}

.form-check-input {
  margin-right: -1.25rem;
}

.modal-header .close {
  margin-left: 0;
}

.modal-title.ml-auto {
  margin-right: auto;
}

.paymentDetails .coponCode .pl-3 {
  padding-left: 0 !important;
  padding-right: 12px;
}

.price_text {
  margin-left: 5px;
  margin-right: 0;
}

.orderDetailList .headerOrder,
.orderDetailList .bodyOrder {
  text-align: right;
}

.orderDetailList .headerOrder .col-md-6.text-md-right {
  text-align: left !important;
}

.orderDetailList .bodyOrder .col-md-5.text-md-right {
  text-align: left !important;
}

.filterLeftContent {
  text-align: right;
}

.linksOrde {
  text-align: left;
}

.payDetails .priceDiscri .totalPr.ml-auto,
.payDetails .priceDiscri .itemPr.ml-auto,
.payDetails .priceDiscri .NTPr.ml-auto {
  margin-right: auto;
  margin-left: 0 !important;
}

.crnumber .cardimg.mr-2 {
  margin-left: 10px;
  margin-right: 0 !important;
}

.product-detail-section .detailInfo {
  padding-left: 20px;
}

.product-detail-section .detailBtn .pl-3 {
  padding-right: 12px;
  padding-left: 0 !important;
}

.reviewSection {
  text-align: right;
}

.write_review .userImg {
  margin-left: 15px;
  margin-right: 0;
}

.review_show .userimg {
  margin-left: 15px;
  margin-right: 0;
}

.section-title .sortby label.mr-3 {
  margin-left: 12px;
}

.addressContent .custom-control {
  padding-left: 0;
}

.checkcontent .custom-control {
  padding: 10px 40px 10px 15px;
}

.custom-control-label::after {
  right: -1.5rem;
  left: auto;
}

.custom-control-label::before {
  right: -1.5rem;
  left: auto;
}

.profile-form .form-group .row .col {
  text-align: right;
}

.profile-form .form-group .row .col.text-right {
  text-align: left !important;
}

/*090821*/
#heroCarousel.carousel {
  direction: ltr;
}

.pasword-hideshowLogin {
  left: 15px;
}

.downloadbtnGrp a {
  margin-right: 5px;
}

.superviser_content .radeio-list label {
  text-align: right;
  margin-right: 15px;
  margin-left: 0;
}

.addresDisplay .addresItem {
  text-align: right;
}

.addresDisplay .addresItem .iconEdit.ml-auto {
  margin-left: 0 !important;
  margin-right: auto;
}

.orderDetailList .linksOrde a {
  margin-left: 15px;
  margin-right: 0 !important;
}

.notificationlist li .deletebtn {
  text-align: left !important;
  margin-left: 0 !important;
  margin-right: auto;
}

.notificationlist li .notifi-text {
  margin-left: 0;
  margin-right: 15px;
  text-align: right;
}

.switchgroup .swtitem .switch.ml-auto {
  margin-right: auto;
  margin-left: 0 !important;
}

#ChangePassword ul.pl-3 {
  padding-left: 0 !important;
  padding-right: 15px;
}

.inputWithIcon[_ngcontent-fgy-c170] i[_ngcontent-fgy-c170] {
  left: 0;
  right: auto !important;
}

.form-group {
  text-align: right;
}

.custom-select {
  background-position: left .75rem center !important;
}

#product-detail-section .detailInfo {
  padding-left: 15px;
}

.pasword-hideshowLogin {
  right: auto;
}

.customUserMenu a {
  text-align: right !important;
}

.customUserMenu a i {
  margin-left: 5px;
}

.supervisor_list.demo-radio-button .d-flex .ml-auto {
  margin-left: 0 !important;
  margin-right: auto;
}

.supervisor_list.demo-radio-button label {
  text-align: right;
}

#product-detail-section .detailInfo {
  text-align: right;
}

.paymentDetails {
  text-align: right;
}

.lefprolist .iconEdit.ml-auto {
  margin-left: 0 !important;
  margin-right: auto;
}

.accountTab .nav li a .icofont-simple-right {
  margin-left: 0;
  margin-right: auto;
  transform: rotate(180deg);
}

.orderDetailList {
  text-align: right;
}

.orderDetailList .text-md-right {
  text-align: left !important;
}

.titleAccount {
  text-align: right;
}

.inputWithIcon a i.fa-eye-slash {
  left: 0;
  right: auto !important;
}

#Support {
  text-align: right;
}

#accordion {
  text-align: right;
}

.accrodation_list .btn-link {
  text-align: right;
}

.accrodation_list .btn-link::before {
  left: 10px;
  right: auto;
}

/* .Sidebar-content {
  left: 0;
  right: auto;
  transform: translateX(-150%);
} */

.owl-carousel,
.bx-wrapper {
  direction: ltr;
}

.owl-carousel .owl-item {
  direction: rtl;
}

.productImg-content .owl-stage-outer {
  border-left: 1px solid #eee;
}

.productImg-content .itemPrImg {
  display: block;
  border: 1px solid #eee;
  padding: 10px;
  margin-right: -1px;
}

.productImg-content .selected {
  border-bottom: 2px solid rgb(0, 0, 0);
}

.productImg-content .owl-item {
  max-width: 107px !important;
}

@media (max-width:574px) {
  .logo a img {
    max-height: 50px;
  }
}

.listcategory a.selected,
.listcategory a:hover {
  background-color: #e0dede;
  color: #000;
}

.logo a img {
  max-height: 90px !important;
}

#topbar .left-siteinfo+.left-siteinfo {
  padding: 0;
}

#hero .carousel-item {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

@media (max-width:767px) {
  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 125px;
  }

  #hero {
    height: auto !important;
  }

  #hero .carousel-item {
    background-size: contain;
    height: auto !important;
  }
}

.detailBtn .btn-md {
  padding: 8px 36px;
  border-radius: 8px;
}
