/*--------------------------------------------------------------# General--------------------------------------------------------------*/
body {
  direction: ltr;
  font-family: 'Roboto', sans-serif;
  color: #444444;
}

a {
  color: #2660C0;
}

a:hover {
  color: #2660C0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.mobile-nav-active .mobile-nav-toggle i {}

.cartbox {
  padding-top: 10px;
}

.prl {
  padding-left: 10px;
}

.pasword-hideshow {
  font-size: 14px;
  position: absolute;
  right: 15px;
  top: 12px;
}

.pasword-hideshow:hover,
.pasword-hideshow:focus {
  color: #dd5709
}

.inputWithIcon input [type="password"] {
  padding-right: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  right: 0px;
  top: 3px;
  padding: 9px 12px;
}

.pasword-hideshowLogin {
  font-size: 14px;
  position: absolute;
  right: 15px;
  top: 43px;
}

.pasword-hideshowLogin:hover,
.pasword-hideshowLogin:focus {
  color: #dd5709
}

.productImg-content .selected {
  border-bottom: 2px solid rgb(0, 0, 0);
}

.productImg-content .owl-item {
  max-width: 107px !important;
}
