<app-header></app-header> <!-- Top Bar -->
<!-- Header -->
<header id="header">
	<div class="container">
		<div class="">
			<div class="menu-content">
				<div class="main-menu d-flex align-items-center">
					<nav class="nav-menu d-none d-lg-block"
						*ngIf="categories$ | async as categories">
						<ul>
							<li class="drop-down categorymenu">
								<a class="maindrop cursr"><i
										class="icofont-navigation-menu mr-2"></i>{{'all_category'
									| translate}}</a>
								<ul>
									<li><a routerLink="/products"
											[queryParams]="{page: '0', categoryID: category?.categoryID, categoryName: category?.categoryName+'_'+category?.categoryArabicName}"
											*ngFor="let category of categories">{{(root.languages$
											| async) === 'en' ?
											category?.categoryName :
											category?.categoryArabicName}}</a>
									</li>
								</ul>
							</li>
							<li *ngFor="let category of categories"><a
									routerLink="/products"
									[queryParams]="{page: '0', categoryID: category?.categoryID, categoryName: category?.categoryName+'_'+category?.categoryArabicName}">{{(root.languages$
									| async) === 'en' ? category?.categoryName :
									category?.categoryArabicName}}</a></li>
						</ul>
					</nav><!-- .nav-menu -->
				</div>
			</div>
		</div>
	</div>
</header>
<!-- End Header -->
<app-banner [banner]="banner$ | async"></app-banner> <!-- Hero Section -->
<main id="main">
	<app-best-selling [products]="products" *ngIf="products$ | async as products"></app-best-selling>
	<app-skeleton *ngIf="(products$ | async)?.length === 0"></app-skeleton>
	<app-most-popular-best-seller [categories]="categories" *ngIf="categories$ | async as categories">
	</app-most-popular-best-seller>
	<app-skeleton-category *ngIf="(categories$ | async)?.length === 0"></app-skeleton-category>
	<app-our-partners></app-our-partners>
</main><!-- End #main -->
<app-footer></app-footer> <!-- Footer Section -->
<app-scroll-to-top></app-scroll-to-top> <!-- Scroll-to-top Section -->