<router-outlet (activate)="onActivate()"></router-outlet>
<ng-progress class="root-progress-bar" [thick]="true" [meteor]="false" [spinner]="false"></ng-progress>

<!-- <div class="col-lg-3 col-md-4">
    <div class="Mobilefilter">
    <ngx-skeleton-loader count="1" [theme]="{ height: '11px', 'margin-bottom': '0px', width: '65%' }"></ngx-skeleton-loader>
    </div>	
    <div class="filterSection">
        <div class="filterLeftContent card">
        <ngx-skeleton-loader count="1" [theme]="{ height: '11px', 'margin-bottom': '0px', width: '65%' }"></ngx-skeleton-loader>	
            <div class="listcategory">
            <ngx-skeleton-loader count="1" [theme]="{ height: '11px', 'margin-bottom': '0px', width: '65%' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="1" [theme]="{ height: '11px', 'margin-bottom': '0px', width: '65%' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="1" [theme]="{ height: '11px', 'margin-bottom': '0px', width: '65%' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="1" [theme]="{ height: '11px', 'margin-bottom': '0px', width: '65%' }"></ngx-skeleton-loader>
            </div>	
        </div>
        <div class="filterLeftContent mt-3 card">
        <ngx-skeleton-loader count="1" [theme]="{ height: '11px', 'margin-bottom': '0px', width: '65%' }"></ngx-skeleton-loader>
            <div class="searchStore">
            <ngx-skeleton-loader count="1" [theme]="{ height: '11px', 'margin-bottom': '0px', width: '65%' }"></ngx-skeleton-loader>
            </div>	
            <div class="listcategory">
            <ngx-skeleton-loader count="1" [theme]="{ height: '11px', 'margin-bottom': '0px', width: '65%' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="1" [theme]="{ height: '11px', 'margin-bottom': '0px', width: '65%' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="1" [theme]="{ height: '11px', 'margin-bottom': '0px', width: '65%' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="1" [theme]="{ height: '11px', 'margin-bottom': '0px', width: '65%' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="1" [theme]="{ height: '11px', 'margin-bottom': '0px', width: '65%' }"></ngx-skeleton-loader>
            </div>	
        </div>
        <div class="filterLeftContent mt-3 card">
        <ngx-skeleton-loader count="1" [theme]="{ height: '11px', 'margin-bottom': '0px', width: '65%' }"></ngx-skeleton-loader>
            <div class="listcategory">
            <ngx-skeleton-loader count="1" [theme]="{ height: '11px', 'margin-bottom': '0px', width: '65%' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="1" [theme]="{ height: '11px', 'margin-bottom': '0px', width: '65%' }"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="1" [theme]="{ height: '11px', 'margin-bottom': '0px', width: '65%' }"></ngx-skeleton-loader>
            </div>	
        </div>

    </div>
    <br>
</div> -->