@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";
@import '~@angular/cdk/overlay-prebuilt.css'; /** Add this only for non-material project */
::ng-deep .cdk-overlay-container {
    z-index: 1200 !important;
  }
  *{margin:0; padding:0} 